@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar {
  width: 250px;
  background-color: #333;
  color: #fff;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar-header {
  padding: 20px;
  font-size: 1.5rem;
  text-align: center;
  background-color: #222;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  padding: 10px 20px;
  border-bottom: 1px solid #444;
}

.sidebar-menu li a {
  color: #fff;
  text-decoration: none;
}

.sidebar-menu li:hover {
  background-color: #555;
}
.login-form-container {
  background-image: url('https://img.freepik.com/free-vector/gradient-technological-background_23-2148884155.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

.login-form h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
.register-container {
  background-image: url('https://img.freepik.com/free-vector/gradient-technological-background_23-2148884155.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.register-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
.adminlayout {
  display : flex;
}
.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  margin-top: 20px;
}

.pagination__link {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.pagination__link--active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
  text-decoration: none;
}

.pagination__link:hover:not(.pagination__link--active) {
  background-color: #f0f0f0;
}
